
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252424;
    font-family: sans-serif;
    font-size: 1em;
    color: aliceblue;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
}

p {
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Espaço entre os campos */
}

.linha .campo {
    width: 50%; /* Cada campo ocupa metade do espaço */
}

.container {
    background: #222222; 
    padding: 20px;
    border-radius: none;
    box-shadow: 0 0 10px rgba(31, 30, 30, 0.542);
    width: 100%;
    max-width: 900px;
}

form {
    background: #111;
    padding: 20px;
    border: none;
    border-radius: 0;
    width: 100%;
    max-width: 1000px;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

fieldset {
    border: none;
}


.campo input,
.campo select,
.campo textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #c0bbbb;
    border-radius: 4px;
    background: #222;
    color: aliceblue;
    font-size: 1em;
    font-family: sans-serif;
}

.botao {
    display: block;
    width: 200px; 
    padding: 10px 15px;
    font-size: 1.2em;
    background: #079db1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    margin: 15px auto;
}

 
.botao:hover {
    background: #6e7374;
}

@media (max-width: 768px) {
    form {
        width: 95%;
        padding: 15px;
    }
}


